apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: student-if220129
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/automind-2527/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DOTNET_USE_POLLING_FILE_WATCHER
              value: "1"
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
      imagePullSecrets:
        - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: student-if220129
spec:
  type: ClusterIP        # bleibt intern im Cluster
  selector:
    app: backend
  ports:
    - port: 5191         # Port im Cluster
      targetPort: 5191   # Port im Container

